.attribute input[type="radio"],
.skill input[type="radio"] {
    display: none;
}

.attribute input[type="radio"]:checked + .svg,
.attribute input[type="radio"]:checked + .svg path,
.attribute input[type="radio"][aria-checked="true"] + .svg,
.attribute input[type="radio"][aria-checked="true"] + .svg path,
.skill input[type="radio"]:checked + .svg,
.skill input[type="radio"]:checked + .svg path,
.skill input[type="radio"][aria-checked="true"] + .svg,
.skill input[type="radio"][aria-checked="true"] + .svg path {
    fill: red;
}

.attribute .svg,
.skill .svg {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
