<div class="row">
    <label class="col-md-1">{{label | translate}}</label>
    <label class="skill col-md-1">
        <input type="radio" name="{{skill.id}}" ng-model="character.skills[skill.id]" value="4" ng-change="changeSkill('{{character.skills[skill.id]}}')" /><span class="svg d4"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M48.492,15.497L37.483,86.1L7.406,64.499L48.492,15.497z M39.396,86.531l11.2-71.818l41.793,59.133L39.396,86.531z"></path></g></svg></span>
    </label>
    <label class="skill col-md-1">
        <input type="radio" name="{{skill.id}}" ng-model="character.skills[skill.id]" value="6" ng-change="changeSkill('{{character.skills[skill.id]}}')" /><span class="svg d6"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve"><g><polygon points="45,44.2 81.112,23.35 45,2.5 8.887,23.351  "></polygon><polygon points="44.076,45.801 7.963,24.951 7.963,66.65 44.076,87.5  "></polygon><polygon points="45.924,45.801 45.924,87.5 82.037,66.65 82.037,24.951  "></polygon></g></svg>
</span>
    </label>
    <label class="skill col-md-1">
        <input type="radio" name="{{skill.id}}" ng-model="character.skills[skill.id]" value="8" ng-change="changeSkill('{{character.skills[skill.id]}}')" /><span class="svg d8"><svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="40 40 100 100" enable-background="new 40 40 100 100" xml:space="preserve"><g><g transform="translate(-242.40981,-473.89862)"><path fill="#000000" d="M293.527,582.264l38.894-67.597l39.229,67.261L293.527,582.264z"></path><path fill="#000000" d="M291.304,581.946l-0.562-38.354l39.36-29.039L291.304,581.946z"></path><path fill="#000000" d="M373.477,581.529l0.6-37.685l-39.565-29.314L373.477,581.529z"></path><path fill="#000000" d="M332.421,613.268l-38.894-29.016l78.122-0.621L332.421,613.268z"></path></g></g></svg>
</span>
    </label>
    <label class="skill col-md-1">
        <input type="radio" name="{{skill.id}}" ng-model="character.skills[skill.id]" value="10" ng-change="changeSkill('{{character.skills[skill.id]}}')" /><span class="svg d10"><svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="40 40 100 100" enable-background="new 40 40 100 100" xml:space="preserve"><g><g transform="matrix(1.1679092,0,0,1.1679092,-274.931,-137.53749)"><path fill="#000000" d="M313.653,154.602l-26.488,55.612l24.356,15.89l26.354-15.928    L313.653,154.602z"></path><path fill="#000000" d="M314.9,153.687l24.49,55.919l14.175-4.584l0.915-22.612    L314.9,153.687z"></path><path fill="#000000" d="M312.359,227.393v8.568l40.76-28.762l-13.608,3.825    L312.359,227.393z"></path><path fill="#000000" d="M312.359,153.927l-26.756,55.732l-13.925-5.99l-1.229-22.679    L312.359,153.927z"></path><path fill="#000000" d="M310.517,227.213v8.75l-39.019-30.157l13.513,5.275    L310.517,227.213z"></path></g></g></svg>
</span>
    </label>
    <label class="skill col-md-1">
        <input type="radio" name="{{skill.id}}" ng-model="character.skills[skill.id]" value="12" ng-change="changeSkill('{{character.skills[skill.id]}}')" /><span class="svg d12"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path fill="#000000" d="M34.449,72.826L23.851,41.064l26.853-21.056l27.455,21.056  l-10.2,32.344L34.449,72.826z"></path><path fill="#000000" d="M2.878,34.373L3.77,66.281l17.192,23.602l12.24-15.092  l-11.28-34.152L2.878,34.373z"></path><path fill="#000000" d="M67.664,75.568l-33.525-0.201L23.358,90.52l27.099,8.449  l27.684-8.83L67.664,75.568z"></path><path fill="#000000" d="M4.499,33.375L21.4,10.646l27.974-9.616v16.901L22.35,39.216  L4.499,33.375z"></path><path fill="#000000" d="M52.702,1.047l27.682,9.325l16.153,23.325l-17.028,5.967  l-27.1-21.423L52.702,1.047z"></path><path fill="#000000" d="M69.944,74.227l10.415-31.761l16.762-5.829l-0.076,28.558  L80.436,88.506L69.944,74.227z"></path></svg>
</span>
    </label>
    <label ng-if="character.skills[skill.id] > 0">
        <button type="button" class="btn btn-default" aria-label="Remove" ng-click="resetSkill()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </label>
</div>
