<html lang="fr" ng-app="appSW">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="Content-Language" content="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{'common.title' | translate}}</title>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- include: "type": "css", "files": "styles/**/*.css" -->
    <link href="styles/main.css" rel="stylesheet" type="text/css">
    <!-- /include -->
    <!-- endbuild -->
</head>

<body ui-view>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- include: "type": "js", "files": "src/**/*.js,app.js,settings.js", "ordering": "top-down" -->

   <script src="app.js"></script>
    <script src="settings.js"></script>
    <script src="src/character-sheet/controller.js"></script>
    <script src="src/common/directive/character-attribute/directive.js"></script>
    <script src="src/common/directive/character-skill/directive.js"></script>
    <script src="src/common/filter/order-by-translated.js"></script>
    <script src="src/common/resource/datas.js"></script>
    <script src="src/common/service/character.js"></script>
    <!-- /include -->
    <!-- endbuild -->
</body>

</html>
