<div class="container-fluid">
    <section id="profile" class="row">
        <div>
            <label>{{'charsheet.profile.name.label' | translate}}</label>
            <input id="name" ng-model="character.name" type="text" />
        </div>
        <div>
            <label>{{'charsheet.profile.race.label' | translate}}</label>
            <select id="race" ng-model="character.race" ng-options="race.id as race.label |translate for race in races | orderByTranslated:'':'label'" required ng-change="changeRace(character.race, '{{character.race}}')"></select>
        </div>
        <div>
            <label>{{'charsheet.profile.rank.label' | translate}}</label>
            <input id="rank" ng-model="character.rank" type="text" />
        </div>
        <div>
            <label>{{'charsheet.profile.archetype.label' | translate}}</label>
            <input id="archetype" ng-model="character.archetype" type="text" />
        </div>
        <div>
            <label>{{'charsheet.profile.xp.label' | translate}}</label>
            <input id="xp" ng-model="character.xp" type="number" min="0" />
        </div>
    </section>
    <section class="row">
        <section id="attributes" class="col-md-6">
            <h3>{{'charsheet.attributes.title' | translate}} <span ng-if="character.attributePoints > 0" class="animate-if">- {{character.attributePoints}}</span></h3>
            <character-attribute ng-repeat="(attribute,value) in character.attributes" attribute="{{attribute}}" character="character"></character-attribute>
        </section>

        <section id="derivated" class="col-md-6">
            <h3>{{'charsheet.derivated.title' | translate}}</h3>
            <div class="row">
                <label class="col-md-1">{{'charsheet.derivated.pace.label' | translate}}</label>
                <span class="col-md-1">{{character.pace()}}</span>
            </div>
            <div class="row">
                <label class="col-md-1">{{'charsheet.derivated.parry.label' | translate}}</label>
                <span class="col-md-1">{{character.parry()}}</span>
            </div>
            <div class="row">
                <label class="col-md-1">{{'charsheet.derivated.toughness.label' | translate}}</label>
                <span class="col-md-1">{{character.toughness()}}</span>
            </div>
            <div class="row">
                <label class="col-md-1">{{'charsheet.derivated.charisma.label' | translate}}</label>
                <span class="col-md-1">{{character.charisma()}}</span>
            </div>
        </section>
    </section>
    <section class="row">
        <section id="skills" class="col-md-6">
            <h3>{{'charsheet.skills.title' | translate}} <span ng-if="character.skillPoints > 0" class="animate-if">- {{character.skillPoints}}</span></h3>
            <character-skill ng-repeat="skill in skills | orderByTranslated:'':'label'" skill="skill" character="character"></character-skill>
        </section>
        <section class="col-md-6 row">
            <section id="edges">
                <h3>{{'charsheet.edges.title' | translate}} <span ng-if="character.edgePoints > 0" class="animate-if">- {{character.edgePoints}}</span></h3>
                <button type="button" class="btn btn-default" aria-label="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </section>
            <section id="hindrances">
                <h3>{{'charsheet.hindrances.title' | translate}} </h3>
                <button type="button" class="btn btn-default" aria-label="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </section>
        </section>
    </section>
    <section id="gear">
        <h3>{{'charsheet.gears.title' | translate}}</h3>
    </section>
    <section id="notes">
        <h3>{{'charsheet.notes.label'|translate}}</h3>
        <textarea ng-model="character.notes"></textarea>
    </section>
</div>
